@charset "UTF-8";

header {
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .right .name {
  font-size: 16px;
  font-weight: 500;
}

header .right .name span {
  font-weight: 600;
  color: #6a5cff;
}

header .right .button {
  display: flex;
  gap: 12px;
}

header .right .button .my_page {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #6a5cff;
  padding: 4px 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

header .right .button .my_page:hover {
  background: #5a4ce6;
}

header .right .button .logout {
  font-size: 14px;
  font-weight: 600;
  color: #6a5cff;
  padding: 4px 20px;
  box-shadow: inset 0 0 0 1px #6a5cff;
  border-radius: 4px;
  cursor: pointer;
}

main {
  background: #f3f1ff;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_box {
  background: #fff;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  border-radius: 20px;
  padding: 40px 60px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.main_box .title {
  margin-bottom: 40px;
}

.main_box .title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 4px;
}

.main_box .title p {
  font-size: 18px;
  font-weight: 400;
  color: #666;
}

.main_box .input_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 4px;
}

.main_box .button_box {
  display: flex;
  gap: 12px;
  flex: 1;
}

.main_box .button_box > div {
  width: 140px;
  height: 40px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1px #ddd;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main_box .button_box > div:hover {
  box-shadow: inset 0 0 0 1px #5a4ce6;
}

.main_box .button_box > div span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #6a5cff;
  background: #f3f1ff;
  border-radius: 4px;
}

.main_box .button_box > div.active {
  background: #6a5cff;
  box-shadow: inset 0 0 0 1px #6a5cff;
  color: #fff;
}

.main_box .button_box > div.active span {
  background: #b7adff;
  color: #fff;
}

.search {
  width: calc(100% - 52px);
}

.search input {
  padding-left: 44px;
  position: relative;
  background: url(search.svg) no-repeat 16px 8px;
  width: 100%;
}

.main_box .input_box .right {
  display: flex;
  gap: 12px;
  flex: 1;
  justify-content: flex-end;
}

.main_box .input_box .new {
  font-weight: 600;
  color: #fff;
  border-radius: 8px;
  background: #6a5cff;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main_box .input_box .new:hover {
  background: #5a4ce6;
}

.main_box .main_content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 60px;
}

.main_box .main_content > div {
  padding: 40px;
  box-shadow: inset 0 0 0 1px #ddd;
  border-radius: 20px;
}

.main_box .main_content > div .tit {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.main_box .main_content > div .tit.column {
  align-items: flex-start;
  flex-direction: column;
}

.main_box .main_content > div .tit h3 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 600;
}

.main_box .main_content > div .tit p {
  font-weight: 500;
  color: #666;
}

.main_box .main_content > div .tit span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 500;
}

.main_box .main_content > div .tit span.ing {
  background: #6a5cff;
}
.main_box .main_content > div .tit span.pre {
  background: #b7adff;
}
.main_box .main_content > div .tit span.cancle {
  background: #999999;
}
.main_box .main_content > div .tit span.end {
  background: #1e1b3a;
}

.main_box .main_content > div .desc {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  margin-bottom: 24px;
}

.main_box .main_content > div .desc_full {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.main_box .main_content > div .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.main_box .main_content > div .info > div {
  display: flex;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.main_box .main_content > div .info .copy {
  width: 20px;
  height: 20px;
  background: #9b8cff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-left: auto;
  cursor: pointer;
}

.main_box .main_content > div .button {
  border-radius: 4px;
  background: #6a5cff;
  padding: 8px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}
.main_box .main_content > div .button:hover {
  background: #5a4ce6;
}

.main_box .main_content > div .button.disable {
  background: #999;
}

.main_box .pagination {
  position: relative;
}

.main_box .pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.main_box .pagination ul li {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main_box .pagination ul li:hover,
.main_box .pagination ul li.active {
  background: #6a5cff;
  color: #fff;
  font-weight: 600;
}

.main_box .pagination ul .prev:hover,
.main_box .pagination ul .next:hover {
  background: none;
}

.main_box .pagination ul .prev {
  margin-right: 16px;
}

.main_box .pagination ul .next {
  transform: scaleX(-1);
  margin-left: 16px;
}

.main_box .pagination .label {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 400;
  color: #999;
}

.main_box .pagination .label span {
  font-weight: 500;
}

.dashboard .desc_full {
  margin-bottom: 20px;
}

.dashboard .setting {
  padding-top: 20px;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dashboard .setting > div h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.dashboard .setting > div ul {
  display: flex;
  gap: 4px;
}

.dashboard .setting > div ul li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1px #ddd;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dashboard .setting > div ul li.active {
  background: #6a5cff;
  color: #fff;
  box-shadow: none;
}

.dashboard .setting > div ul li:hover {
  box-shadow: inset 0 0 0 1px #6a5cff;
}
.dashboard .setting > div ul li.active:hover {
  background: #5a4ce6;
}

.info_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 4px;
}

.info_box ul {
  display: flex;
  align-items: center;
  gap: 8px 24px;
  flex-wrap: wrap;
  margin-right: 24px;
}

.info_box ul li {
  display: flex;
  gap: 8px;
}

.info_box .refresh {
  display: flex;
  gap: 2px;
  align-items: center;
  color: #999;
  cursor: pointer;
  flex-shrink: 0;
}

.no_result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no_result.disable,
.main_content.disable {
  display: none;
}

@media screen and (max-width: 1600px) {
  .main_box .button_box {
    gap: 8px;
  }

  .main_box .main_content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1400px) {
  .main_box .button_box > div {
    flex: 1;
  }

  .main_box .input_box {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .main_box .main_content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 810px) {
  .main_box .main_content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
