@charset "UTF-8";

@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/naver/d2codingfont/D2Coding-Ver1.3.2-20180524/D2Coding/D2Coding-Ver1.3.2-20180524.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

header {
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .right .name {
  font-size: 16px;
  font-weight: 500;
}

header .right .name span {
  font-weight: 600;
  color: #6a5cff;
}

header .right .button {
  display: flex;
  gap: 12px;
}

header .right .button .my_page {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #6a5cff;
  padding: 4px 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

header .right .button .my_page:hover {
  background: #5a4ce6;
}

header .right .button .logout {
  font-size: 14px;
  font-weight: 600;
  color: #6a5cff;
  padding: 4px 20px;
  box-shadow: inset 0 0 0 1px #6a5cff;
  border-radius: 4px;
  cursor: pointer;
}

main {
  background: #f3f1ff;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_box {
  background: #fff;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  border-radius: 20px;
  padding: 40px 60px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.main_box .title {
  margin-bottom: 40px;
}

.main_box .title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 4px;
}

.main_box .title p {
  font-size: 18px;
  font-weight: 400;
  color: #666;
}

.main_box .input_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 4px;
}

.main_box .button_box {
  display: flex;
  gap: 12px;
  flex: 1;
}

.main_box .button_box > div {
  width: 140px;
  height: 40px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1px #ddd;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main_box .button_box > div:hover {
  box-shadow: inset 0 0 0 1px #5a4ce6;
}

.main_box .button_box > div span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #6a5cff;
  background: #f3f1ff;
  border-radius: 4px;
}

.main_box .button_box > div.active {
  background: #6a5cff;
  box-shadow: inset 0 0 0 1px #6a5cff;
  color: #fff;
}

.main_box .button_box > div.active span {
  background: #b7adff;
  color: #fff;
}

.search {
  flex: 1;
}

.search input {
  padding-left: 44px;
  position: relative;
  background: url(search.svg) no-repeat 16px 8px;
  width: 100%;
}

.select {
  display: flex;
  flex: 1;
  gap: 24px;
  align-items: flex-end;
}

.select > div {
  flex: 1;
}

.search,
.select > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search p,
.select > div p {
  font-weight: 500;
}

.main_box .input_box {
  gap: 24px;
}

.main_box .input_box .right {
  display: flex;
  gap: 12px;
  flex: 1;
  justify-content: flex-end;
}

.main_box .main_content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 60px;
}

.main_box .main_content > div {
  padding: 40px;
  box-shadow: inset 0 0 0 1px #ddd;
  border-radius: 20px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
}

.main_box .main_content > div .tit {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.main_box .main_content > div .tit.column {
  align-items: flex-start;
  flex-direction: column;
}

.main_box .main_content > div .tit h3 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.main_box .main_content > div .tit h3:has(span) {
  width: 100%;
}

.main_box .main_content > div .tit h3 span {
  font-size: 14px;
  font-weight: 600;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  border-radius: 50px;
}

.main_box .main_content > div .tit h3 span.test_mode {
  background: #6a5cff;
  color: #fff;
}

.main_box .main_content > div .tit h3 span.edu_mode {
  background: #f3f1ff;
  color: #6a5cff;
}

.main_box .main_content > div .tit p {
  font-weight: 500;
  color: #666;
}

.main_box .main_content > div .tit span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 500;
}

.main_box .main_content > div .tit span.ing {
  background: #6a5cff;
}
.main_box .main_content > div .tit span.pre {
  background: #b7adff;
}
.main_box .main_content > div .tit span.cancle {
  background: #999999;
}
.main_box .main_content > div .tit span.end {
  background: #1e1b3a;
}

.main_box .main_content > div .desc {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  margin-bottom: 24px;
}

.main_box .main_content > div .desc_full {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.main_box .main_content > div .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.main_box .main_content > div .info > div {
  display: flex;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.main_box .main_content > div .info .copy {
  width: 20px;
  height: 20px;
  background: #9b8cff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-left: auto;
  cursor: pointer;
}

.main_box .main_content > div .button {
  border-radius: 4px;
  background: #6a5cff;
  padding: 8px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: auto;
}
.main_box .main_content > div .button:hover {
  background: #5a4ce6;
}

.main_box .main_content > div .button.disable {
  background: #999;
  cursor: default;
}

.main_box .main_content > div .button.complate {
  background: #1e1b3a;
  cursor: default;
}

.main_box .pagination {
  position: relative;
}

.main_box .pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.main_box .pagination ul li {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main_box .pagination ul li:hover,
.main_box .pagination ul li.active {
  background: #6a5cff;
  color: #fff;
  font-weight: 600;
}

.main_box .pagination ul .prev:hover,
.main_box .pagination ul .next:hover {
  background: none;
}

.main_box .pagination ul .prev {
  margin-right: 16px;
}

.main_box .pagination ul .next {
  transform: scaleX(-1);
  margin-left: 16px;
}

.main_box .pagination .label {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 400;
  color: #999;
}

.main_box .pagination .label span {
  font-weight: 500;
}

.dashboard .desc_full {
  margin-bottom: 20px;
}

.dashboard .setting {
  padding-top: 20px;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dashboard .setting > div h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.dashboard .setting > div ul {
  display: flex;
  gap: 4px;
}

.dashboard .setting > div ul li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1px #ddd;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dashboard .setting > div ul li.active {
  background: #6a5cff;
  color: #fff;
  box-shadow: none;
}

.dashboard .setting > div ul li:hover {
  box-shadow: inset 0 0 0 1px #6a5cff;
}
.dashboard .setting > div ul li.active:hover {
  background: #5a4ce6;
}

.info_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 4px;
}

.info_box ul {
  display: flex;
  align-items: center;
  gap: 8px 24px;
  flex-wrap: wrap;
  margin-right: 24px;
}

.info_box ul li {
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: #666;
}

.info_box .refresh {
  display: flex;
  gap: 2px;
  align-items: center;
  color: #999;
  cursor: pointer;
  flex-shrink: 0;
}

.no_result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no_result.disable,
.main_content.disable {
  display: none;
}

.select > div {
  position: relative;
}

.custom_select {
  width: 100%;
  box-shadow: inset 0 0 0 1px #ddd;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
}

.option {
  width: 100%;
  border: 1px solid #ddd;
  min-height: 40px;
  max-height: 200px;
  border-radius: 8px;
  position: absolute;
  top: calc(100% + 4px);
  background: #fff;
  overflow-y: auto;
  cursor: pointer;
}

.option.disable {
  display: none;
}

.option li {
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.option li:hover {
  background: #f3f1ff;
  color: #6a5cff;
}

.main_box .input_box .new {
  font-weight: 600;
  color: #fff;
  border-radius: 8px;
  background: #6a5cff;
  width: 140px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main_box .input_box .new:hover {
  background: #5a4ce6;
}

.overlay::after {
  position: fixed;
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  padding: 40px 60px;
  overflow: hidden;
  border-radius: 20px;
  background: #fff;
}

.popup.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup.active.policy {
  align-items: flex-start;
}
.popup.disable {
  display: none;
}

.popup .close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.policy {
  width: 1200px;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.policy h3 {
  font-size: 24px;
  font-weight: 600;
  flex-shrink: 0;
}

.policy p {
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  overflow-y: auto;
  padding: 24px 0;
}

.ce_num {
  width: 540px;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ce_num .mail_info {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  margin-bottom: 12px;
}

.ce_num .mail_info span {
  font-weight: 500;
  color: #6a5cff;
}

.ce_num p {
  font-weight: 500;
  color: #444;
  margin-bottom: 12px;
  text-align: center;
}

.ce_num .num_box {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}

.ce_num .num_box input {
  width: 40px;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  color: #6a5cff;
  text-align: center;
  padding: 0;
}

.ce_num .time {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  text-align: center;
  margin-bottom: 16px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.info {
  font-size: 14px;
  font-weight: 400;
  color: #444;
  margin-bottom: 20px;
  text-align: center;
}

.info b {
  color: #e05252;
  display: none;
}

.info b.active {
  display: block;
}

.popup .submit_box {
  display: flex;
  gap: 8px;
  width: 360px;
  height: 40px;
}

.popup.normal {
  min-width: 360px;
  padding: 40px 0 28px;
}

.popup.normal .submit_box {
  width: 160px;
  height: 32px;
}

.popup.normal_2 .submit_box {
  width: 240px;
  height: 32px;
}

.popup.normal p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.popup.normal .submit_box li {
  font-size: 14px;
}

.popup .submit_box li {
  flex: 1;
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.popup .submit_box li.submit {
  background: #6a5cff;
}
.popup .submit_box li.submit:hover {
  background: #5a4ce6;
}

.popup .submit_box li.cancle {
  background: #999;
}

.popup .submit_box li.cancle:hover {
  background: #888;
}

.popup.code_num > p {
  font-size: 24px;
  font-weight: 500;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 16px;
}

.popup .info {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.popup .info p {
  margin-bottom: 0;
  font-size: 14px;
}

.popup .info b {
  margin-bottom: 0;
  font-size: 14px;
}

.popup.code_num > b {
  font-weight: 500;
  color: #444;
  margin-bottom: 12px;
}

.left {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: calc(100vh - 80px);
  flex-shrink: 0;
  box-shadow: inset -1px 1px 0 0px #ddd;
  padding: 16px 24px 40px;
  position: relative;
  width: 72px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.left.active {
  width: 430px;
}

.left div:not(.ham_btn) {
  opacity: 0;
  height: 0;
}

.left.active div {
  opacity: 1;
  height: auto;
}

.left .top_tool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.left .top_tool .time {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: 80px;
  padding: 4px 0;
  border-radius: 4px;
  background: #6a5cff;
  display: flex;
  justify-content: center;
}

.left .top_tool .ham_btn {
  cursor: pointer;
}

.left .list {
  padding-bottom: 32px;
  border-bottom: 1px solid #ddd;
}

.left .list h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.left .list .list_tab {
  box-shadow: inset 0 0 0 1px #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.left .list .list_tab .tab_btn {
  display: flex;
}

.left .list .list_tab .tab_btn li {
  flex: 1;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  box-shadow: inset -1px 0 0 #ddd;
  font-size: 14px;
  font-weight: 600;
  color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
}

.left .list .list_tab .tab_btn li:hover {
  color: #6a5cff;
}

.left .list .list_tab .tab_btn li.active {
  background: #6a5cff;
  color: #fff;
}

.left .list .list_tab .tab_cont {
  box-shadow: inset 0 1px 0 #ddd;
  padding: 20px;
}

.left .list .list_tab .tab_cont > div {
  display: none;
  flex-direction: column;
  gap: 20px;
}

.left .list .list_tab .tab_cont > div.active {
  display: flex;
}

.left .list .list_tab .tab_cont > div h4 {
  font-size: 14px;
  font-weight: 600;
  color: #6a5cff;
  margin-bottom: 8px;
}

.left .list .list_tab .tab_cont > div p {
  font-size: 14px;
  font-weight: 500;
}

.left .left_cont {
  margin-top: 32px;
}

.left .left_cont .left_tab_btn {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.left .left_cont .left_tab_btn li {
  padding: 4px 20px;
  border-radius: 50px;
  box-shadow: inset 0 0 0 1px #ddd;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.left .left_cont .left_tab_btn li:hover {
  color: #6a5cff;
}

.left .left_cont .left_tab_btn li.active {
  color: #fff;
  background: #6a5cff;
  box-shadow: none;
}

.left_cont .tab_cont > div.active {
  display: flex;
}

.left_cont .tab_cont > div {
  display: none;
  flex-direction: column;
  gap: 32px;
}

.left_cont .tab_cont > div .cont_area h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.left_cont .tab_cont > div .cont_area .cont_box {
  padding: 20px;
  background: #f3f1ff;
  border-radius: 8px;
  margin-bottom: 8px;
}

.left_cont .tab_cont > div .cont_area .file_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px dashed #ddd;
  padding: 16px 0;
}

.left_cont .tab_cont > div .cont_area .file_box input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.left_cont .tab_cont > div .cont_area .file_box p {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}

.left_cont .tab_cont > div .cont_area .cont_box:last-child {
  margin-bottom: 0;
}

.left_cont .tab_cont > div .cont_area .cont_box h4 {
  font-size: 14px;
  font-weight: 600;
  color: #6a5cff;
  margin-bottom: 8px;
}

.left_cont .tab_cont > div .cont_area .cont_box li,
.left_cont .tab_cont > div .cont_area .cont_box p {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

.left_cont .tab_cont > div .cont_area .cont_box ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.left_cont .tab_cont > div .cont_area .cont_box span {
  font-size: 12px;
  font-weight: 500;
  color: #666;
  display: block;
  margin-top: 4px;
}

.divider {
  height: 24px !important;
  position: relative;
  margin-bottom: 8px;
}

.divider::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: #ddd;
}

/************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************
************************************************************************/

.help {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.help .help_tooltip {
  position: absolute;
  background: #fff;
  border-radius: 12px;
  padding: 12px 20px;
  width: 240px;
  top: 24px;
  left: -8px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  cursor: auto;
}

.help .help_tooltip.disable {
  display: none;
}

.help .help_tooltip h3 {
  font-size: 13px;
  margin-bottom: 4px;
  font-weight: 600;
  color: #6a5cff;
}

.help .help_tooltip p {
  font-size: 12px;
  font-weight: 500;
}

.live {
  padding-top: 32px;
  border-top: 1px solid #ddd;
}

.live h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 28px;
}

.progress ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.progress ul li .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.progress ul li .text h3 {
  font-size: 14px;
  font-weight: 600;
}

.progress ul li .text p {
  font-size: 14px;
  font-weight: 500;
  color: #6a5cff;
}

.progress ul li .text p.disable {
  color: #999;
}

.left.active .progress .bar_back {
  width: 100%;
  height: 12px;
  background: #f3f1ff;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.left.active .progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  background: #6a5cff;
  z-index: 9;
  width: 44%;
  height: 100%;
  border-radius: 50px;
}

main .right {
  flex: 1;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  min-width: 0;
}

main .right .tab_btn {
  background: #fff;
  height: 48px;
  box-shadow: inset -1px 1px 0 #ddd, inset 0px -1px 0 #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

main .right .tab_btn ul {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

main .right .tab_btn ul li {
  height: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 600;
  color: #666;
  border-right: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
}

main .right .tab_btn span {
  margin-right: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 4px 12px;
  border-radius: 8px;
  display: none;
}

main .right .tab_btn span.active {
  display: block;
}

main .right .tab_btn span.edu {
  background: #6a5cff;
}

main .right .tab_btn span.test {
  background: #b7adff;
}

main .right .tab_btn ul li:last-child {
  border: 0;
}

main .right .tab_btn ul li.active {
  color: #fff;
  background: #6a5cff;
}

main .right .tab_btn ul li .label {
  font-size: 10px;
  font-weight: 600;
  color: #6a5cff;
  padding: 2px 12px;
  background: #f3f1ff;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

main .right .tab_btn ul li.new .label {
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

main .right .main_cont {
  flex: 1;
  overflow-y: auto;
}

body:has(.result.active) .enter {
  display: none;
}
.pps .right .result {
  display: flex;
  flex-direction: column;
}

.pps .right .result h3 {
  font-weight: 600;
  color: #6a5cff;
  margin-bottom: 24px;
}

.pps .right .result textarea {
  padding: 20px;
  width: 100%;
  height: 480px;
  background: #fff;
  font-size: 14px;
}

.pps .right .result span {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  display: block;
  text-align: right;
}

.pps .right .result .button_area {
  display: flex;
  justify-content: center;
}

.pps .right .result button {
  width: 160px;
  height: 32px;
  background: #6a5cff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease;
}

.pps .right .result button:hover {
  background: #5a4ce6;
}

.pps .right .result .file_area {
  display: flex;
  gap: 8px;
}

.pps .right .result .file_area .file_box {
  flex: 1;
}

.pps .right .result .file_area .file_box h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-left: 12px;
}

.pps .right .result .file_area .file_box .file_layout {
  height: 300px;
  border: 1px dashed #5a4ce6;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.pps .right .result .file_area .file_box .file_layout input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.pps .right .result .file_area .file_box .file_layout::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(plus.svg) no-repeat center center / 20px;
}

.pps .right .result .file_area .file_box .file_layout::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  bottom: 20px;
  left: 20px;
  background: url(gcc_video.svg) no-repeat center center;
}

.enter {
  background: #fff;
  padding: 20px 24px;
  flex-shrink: 0;
  box-shadow: inset 0 1px 0 0 #ddd;
}

.enter .hint {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}

.enter .hint h3 {
  font-size: 14px;
  font-weight: 500;
  flex-shrink: 0;
}

.enter .hint ul {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.enter .hint ul li {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #6a5cff;
  border-radius: 50px;
  background: #f3f1ff;
  padding: 4px 12px;
}

.enter .textarea {
  position: relative;
  height: 140px;
}

.enter textarea {
  width: 100%;
  height: 100%;
  border-color: #6a5cff;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
}

.enter textarea::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #999;
}

.enter .textarea .enter_icon {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6a5cff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.enter .textarea .enter_icon:hover {
  background: #5a4ce6;
}
.main_cont {
  padding: 40px;
}

.main_cont .info_text {
  font-size: 14px;
  font-weight: 500;
  color: #999;
  margin-bottom: 24px;
  display: block;
  text-align: center;
}

.main_cont article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main_cont article > div {
  display: flex;
  flex-direction: column;
}

.main_cont article .user {
  align-items: flex-end;
}

.main_cont article > div .model_name,
.main_cont article > div .user_name {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.main_cont article > div .img {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: #6a5cff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_cont article > div .user_name span {
  font-size: 14px;
  font-weight: 500;
  color: #6a5cff;
}

.main_cont article > div .model_name span {
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.main_cont article > div .chat {
  background: #fff;
  padding: 24px;
  box-shadow: inset 0 0 0 1px #6a5cff;
  border-radius: 20px;
  max-width: 800px;
  font-size: 14px;
  font-weight: 500;
}

.main_cont .tab_cont > div {
  display: none;
}

.main_cont .tab_cont > div.active {
  display: block;
}

.gcc .main_cont article .model .chat {
  display: flex;
  background: none;
  box-shadow: none;
  padding: 0;
  max-width: 100%;
}

.main_cont article > div .chat.error {
  box-shadow: none;
  background: none;
  font-size: 14px;
  font-weight: 500;
  color: #e05252;
  padding: 0;
}

.gcc .main_cont article .model .chat .img_box {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  max-width: 320px;
}

.down_btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}

.gcc .main_cont article .model .chat .img_box:hover .down_btn {
  opacity: 1;
}

.model_option ul {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.model_option ul li {
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 4px 8px;
  border-radius: 8px;
  background: #9b8cff;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.model_option ul li.aes {
  background: #e05252;
}

.lecture_opened {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 12px;
  justify-content: center;
  flex: 1;
}

.lecture_opened > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(100% / 3 - 8px);
}

.lecture_opened > div input {
  font-size: 14px;
  font-weight: 400;
}

.lecture_opened > div.lecture_textarea {
  width: 100%;
}

.lecture_opened > div.lecture_textarea textarea {
  padding: 20px;
  height: 240px;
}

.lecture_opened > div p {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  font-weight: 500;
}

.lecture_opened .date_box {
  display: flex;
  gap: 8px;
}

.lecture_opened .date_box > input {
  flex: 1;
  font-family: "Pretendard", sans-serif !important;
}

.lecture_button {
  width: 360px !important;
}

.lecture_button .submit_box {
  display: flex;
  gap: 8px;
  height: 40px;
  margin-top: auto;
}
.lecture_button .submit_box li {
  border-radius: 8px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6a5cff;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.lecture_button .submit_box li:hover {
  background: #5a4ce6;
}

.lecture_button .submit_box li.cancle {
  background: #999;
}

.lecture_button .submit_box li.cancle:hover {
  background: #888;
}

.download {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px;
  background: #f5f5f5;
  border-radius: 12px;
  margin-bottom: 20px;
}

.download .file_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.download .file_desc p {
  font-size: 14px;
  font-weight: 500;
}

.download .file_desc span {
  font-size: 10px;
  font-weight: 500;
  color: #999;
}

.download .down_btn {
  display: flex;
  align-items: center;
  padding: 0 12px;
  width: auto;
  height: 24px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 4px;
}

.code_box {
  padding: 16px;
  background: #101828;
  min-height: 160px;
  max-height: 160px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
}

.code_box.mb_28 {
  margin-bottom: 28px;
}

.code_box::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.code_box p {
  font-family: "D2Coding", monospace !important;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.code_box p.wating {
  color: #999;
}

.code_box p.success {
  color: #42c676;
}
.code_box p.error {
  color: #bf5a5f;
}

.main_toolbar {
  height: 60px;
  padding: 12px 24px;
  background: #fff;
  box-shadow: inset 0 1px 0 #ddd, inset 0 -1px 0 #ddd;
  position: relative;
  display: flex;
  align-items: center;
}

.main_toolbar .btn_area {
  display: flex;
  gap: 16px;
  padding-right: 24px;
}

.main_toolbar .btn_area > img {
  cursor: pointer;
}

.main_toolbar .redo {
  transform: scaleX(-100%);
}

.main_toolbar .status {
  padding-left: 24px;
  border-left: 1px solid #ddd;
  height: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}

.main_toolbar .status > div {
  padding: 8px 12px;
  border-radius: 8px;
  background: #9b8cff;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.main_toolbar .status > div.error {
  background: #e05252;
}

.main_toolbar .ai_send {
  margin-left: auto;
  margin-right: 24px;
  padding: 8px 12px;
  border-radius: 8px;
  background: #6a5cff;
}

.main_toolbar .ai_send p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.main_toolbar .ai_send span {
  display: none;
}

.main_toolbar .help {
  top: 50%;
  transform: translateY(-50%);
}

.main_toolbar .help .help_tooltip {
  right: -4px;
  left: auto;
}

.dig article {
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.main_cont.dig {
  background: #f9f9f9;
}

.dig .table {
  border: 1px solid #6a5cff;
  border-radius: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  background: #fff;
}

.dig ul {
  display: flex;
  background: #fff;
  min-width: 840px;
}

.dig .head {
  background: #f3f1ff;
}
.dig ul li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  box-shadow: inset 1px -1px 0 #ddd;
  font-size: 14px;
  font-weight: 500;
}

.dig ul li:first-child {
  box-shadow: inset 0 -1px 0 #ddd;
}

.dig ul li.error {
  background: #ffe5e5;
  color: #e05252;
}

.dig ul li.error img {
  margin-right: 4px;
}

.dig ul:last-child li {
  box-shadow: inset 1px 0px 0 #ddd;
}

.dig ul:last-child li:first-child {
  box-shadow: none;
}

.dig.enter {
  padding: 20px 24px;
}

.table::-webkit-scrollbar {
  width: 0.8em;
  height: 6px;
}

.left .mission p.tip_text {
  font-size: 12px;
  color: #e05252;
  margin-top: 4px;
}

.upload {
  padding: 20px;
  background: #f5f5f5;
  border-radius: 12px;
  margin-bottom: 20px;
}

.upload h3 {
  font-size: 14px;
  font-weight: 600;
  color: #666;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.upload ul {
  display: flex;
  gap: 8px;
}

.upload ul li {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  flex: 1;
  flex-shrink: 0;
  min-width: 0;
  position: relative;
  padding: 0 8px;
  cursor: pointer;
  font-size: 14px;
  color: #6a5cff;
  border: 1px dotted #b7adff;
  cursor: pointer;
}

.upload ul li.select_complate {
  border: none;
  background: #6a5cff;
}

.upload ul li.select_complate p {
  color: #fff;
}

.upload ul li input {
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 9;
  cursor: pointer;
}

/* 표준 문법 */
input[type="file"]::file-selector-button {
  cursor: pointer;
}

/* 크롬, 사파리, 엣지 등 (WebKit 기반) 호환용 */
input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.upload ul li p {
  font-size: 14px;
  font-weight: 600;
  color: #6a5cff;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: -0.02em;
}

.model_select {
  display: flex;
  position: relative;
  width: 120px;
  padding: 0;
  margin-bottom: 12px;
}

.model_select .custom_select {
  background: #f5f5f5;
  box-shadow: inset 0 0 0 1px #ddd;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  height: 28px;
}

.model_select .option {
  z-index: 999;
  min-height: 0;
}

.model_select .option li {
  font-size: 12px;
  height: auto;
  padding: 4px 16px;
  font-weight: 500;
}

/*
Scrollbar Thumb
*/
.table::-webkit-scrollbar-thumb {
  background: #6a5cff;
  border: 1.5px solid transparent;
  border-radius: 2em;
  background-clip: content-box;
}

/*
Horiontal Scrollbar button (TOP-RIGHT aKa START)
*/
.table::-webkit-scrollbar-button:horizontal:single-button:start {
  position: absolute;
  content: "";
  border-bottom: 20px solid transparent;
  border-right: 42px solid #7082f300;
  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
}

/*
Horiontal Scrollbar button (BOTTOM-RIGHT aKa END)
*/
.table::-webkit-scrollbar-button:horizontal:single-button:end {
  position: absolute;
  overflow: hidden;
  content: "";
  border-bottom: 20px solid transparent;
  border-left: 42px solid #7082f300;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
}

.gcc .btn_area {
  gap: 24px;
}

.gcc .btn_area span {
  padding-left: 24px;
  border-left: 1px solid #ddd;
}

.gcc .btn_area img {
  cursor: pointer;
}

.seed_num {
  margin-left: auto;
  margin-right: 28px;
  font-size: 14px;
  font-weight: 500;
  color: #999;
}

.live ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.live ul li {
  padding: 16px 20px;
  border-radius: 20px;
  display: flex;
}

.live ul li.wating {
  background: #f5f5f5;
}

.live ul li.success {
  background: #dfffeb;
}

.live ul li.error {
  background: #ffe6e6;
}

.live ul li > div {
  width: 20px;
  height: 20px !important;
  border-radius: 50px;
  margin-right: 12px;
  flex-shrink: 0;
}

.live ul li.wating > div {
  background: #ddd;
}

.live ul li.success > div {
  background: #42c676;
}

.live ul li.error > div {
  background: #e05252;
}

.live ul li p {
  font-size: 14px;
  font-weight: 500;
}

.live ul li p.wating p {
  color: #666;
}

.live ul li span {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 12px;
  color: #999;
}
.live ul li span em {
  font-size: 12px;
  color: #999;
  margin-left: 2px;
  font-style: normal;
}

.admin .left {
  padding: 0;
}

.left .admin_nav li {
  font-weight: 500;
  padding: 16px 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.left .admin_nav li:hover {
  color: #6a5cff;
}

.left .admin_nav li.active {
  color: #fff;
  background: #6a5cff;
}

.admin .right {
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  padding: 40px 60px;
  overflow-y: auto;
}

.admin .right .title {
  margin-bottom: 28px;
}

.admin .right .title h2 {
  font-size: 32px;
  font-weight: 600;
}

.admin .right .title p {
  font-size: 20px;
  font-weight: 500;
  color: #666;
}

.admin .right .tab_btn {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  background: none;
  box-shadow: none;
  margin-bottom: 40px;
}

.admin .right .tab_btn > div {
  font-weight: 500;
  transition: all 0.3s ease;
  height: 40px;
  padding: 0 36px;
  box-shadow: inset 0 0 0 1px #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.admin .right .tab_btn > div:hover {
  color: #6a5cff;
  box-shadow: inset 0 0 0 1px #6a5cff;
}

.admin .right .tab_btn > div.active {
  box-shadow: none;
  background: #6a5cff;
  color: #fff;
}

.right_main {
  padding: 40px 60px;
  background: #fff;
  border-radius: 20px;
}

.right_main > div {
  display: none;
}

.right_main > div.active {
  display: block;
}

.right_main h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 36px;
}

.right_input {
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.right_input ul {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 12px;
}

.right_input li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 610px;
}

.right_input li:last-child {
  width: 100%;
}

.right_input li .desc {
  display: flex;
  align-items: center;
}

.right_input li .desc p {
  font-weight: 500;
  margin-right: 8px;
}

.right_input li .desc .label {
  padding: 4px 8px;
  border-radius: 4px;
  color: #9b8cff;
  background: #f3f1ff;
  margin-right: 4px;
  font-size: 12px;
}

.right_input li .desc .dot {
  display: flex;
  font-weight: 500;
  color: #ff9f43;
  line-height: 1.25;
  margin-bottom: auto;
}

.right_input li > span {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.right_input li textarea {
  height: 200px;
}

.right_input li select {
  background: url(input_down.svg) no-repeat center right 12px;
}

.work_list {
  margin-top: 40px;
}

.title_area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.title_area h4 {
  font-size: 24px;
  font-weight: 600;
}

.title_area span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 8px 24px;
  background: #6a5cff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.table {
  border: 1px solid #6a5cff;
  border-radius: 20px;
  overflow: hidden;
}

.table ul {
  display: flex;
}

.table ul.head {
  background: #f3f1ff;
}

.table ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 28px;
}

.table ul li:first-child {
  flex: 1;
  justify-content: flex-start;
}

.table ul li:last-child {
  width: 240px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.table ul li:last-child span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
}

.table ul li:last-child span.view {
  background: #9b8cff;
}

.table ul li:last-child span.edit {
  background: #6a5cff;
}

.table ul li:last-child span.delet {
  background: #999;
}

.tool_btn {
  margin-top: 24px;
}

.tool_btn ul {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.tool_btn ul li {
  padding: 8px 24px;
  background: #6a5cff;
  border-radius: 4px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.tool_btn ul li.cancle {
  background: #999;
}

.json .code_box {
  max-height: 100%;
  min-height: auto;
}

.lecture_opened > div.work_matching {
  width: 100%;
  padding-top: 24px;
  border-top: 1px solid #ddd;
}

.lecture_opened > div.work_matching h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.lecture_opened > div.work_matching p {
  font-size: 14px;
  font-weight: 500;
  color: #999;
  margin-bottom: 36px;
}

.lecture_opened > div.work_matching > ul {
  display: flex;
  gap: 12px;
  align-items: center;
}

.lecture_opened > div.work_matching > ul > li {
  flex: 1;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #ddd;
  overflow: hidden;
}

.lecture_opened > div.work_matching > ul > li > div {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lecture_opened > div.work_matching > ul > li > div > div {
  position: relative;
}

.lecture_opened > div.work_matching > ul > li > div > div .option {
  display: none;
}

.lecture_opened > div.work_matching > ul > li > div > div .option.active {
  display: block;
}

.lecture_opened > div.work_matching > ul > li h4 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 20px;
  background: #6a5cff;
}

.lecture_opened > div.work_matching > ul > li > div p {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #1e1b3a;
}

.lecture_opened > div.work_matching > ul > li.disable h4 {
  background: #999;
}

.lecture_opened > div.work_matching > ul > li.disable {
  background: #f5f5f5;
}

.lecture_opened > div.work_matching > ul > li.disable .custom_select {
  cursor: default;
}

.admin_list {
  padding: 40px 60px;
  background: #fff;
  border-radius: 40px;
}

.admin_list .input_box {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.admin_list .input_box select {
  width: 200px;
}

.admin_list .input_box > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input_box .new {
  font-weight: 600;
  color: #fff;
  border-radius: 8px;
  background: #6a5cff;
  width: 140px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.input_box .new:hover {
  background: #5a4ce6;
}

.admin_list .work_list .table {
  border: 0;
  border-radius: 0;
}

.admin_list .table .head li {
  height: 48px;
}

.admin_list .table ul li {
  height: 60px;
}

.admin_list .table ul li {
  border-bottom: 1px solid #ddd;
}

.admin_modal {
  max-width: calc(100vw - 40px);
  height: calc(100vh - 80px);
  overflow-y: auto;
  width: 1240px;
  display: flex;
  gap: 24px;
}

.admin_modal.active {
  flex-direction: column;
  align-items: normal;
  justify-content: flex-start;
}

.admin_modal h2 {
  font-size: 32px;
  font-weight: 600;
}

.admin_modal .modal_tab_btn {
  display: flex;
  gap: 12px;
}
.admin_modal .modal_tab_btn li {
  padding: 8px 36px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
}

.admin_modal .modal_tab_btn li:hover {
  box-shadow: inset 0 0 0 1px #6a5cff;
  color: #6a5cff;
}

.admin_modal .modal_tab_btn li.active {
  box-shadow: none;
  background: #6a5cff;
  color: #fff;
}

.modal_cont > div {
  display: none;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 24px 40px;
  border-radius: 20px;
  width: 100%;
}
.modal_cont > div.active {
  display: block;
}

.admin_modal .modal_btn ul {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.admin_modal .modal_btn li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px 24px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.admin_modal .modal_btn li.cancle {
  background: #999;
}
.admin_modal .modal_btn li.add {
  background: #6a5cff;
}

.admin_modal .modal_btn li.cancle:hover {
  background: #888;
}

.admin_modal .modal_btn li.add:hover {
  background: #5a4ce6;
}

.admin_modal .modal_cont > div .right_input ul li {
  width: 100%;
}

.admin_modal .modal_cont > div .right_input ul li > span {
  font-size: 12px;
  color: #666;
}

.admin_modal .modal_cont > div .right_input {
  padding-bottom: 0;
  border: 0;
}

.admin_modal .modal_cont > div h3 {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  margin-bottom: 40px;
}

.admin_modal .modal_cont > div .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.admin_modal .modal_cont .session_info h3 {
  margin-bottom: 0;
}

.admin_modal .modal_cont > div .title .add_btn {
  display: flex;
  padding: 8px 24px;
  border-radius: 8px;
  background: #6a5cff;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.admin_modal .modal_cont > div .title .add_btn:hover {
  background: #5a4ce6;
}

.admin_modal .modal_cont > div .no_result {
  padding: 100px 0;
}

.admin_modal .modal_cont > div .no_result p {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.session_main .session > div {
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  border-radius: 12px;
}

.session_main .session > div {
  margin-bottom: 12px;
}
.session_main .session > div:last-child {
  margin-bottom: 0;
}

.session_main .session > div:hover {
  border-color: #6a5cff;
}

.session_main .session > div.active {
  background: #f3f1ff;
  display: block;
}

.session_main .session .head {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 52px;
  padding: 0 12px;
  cursor: pointer;
}

.session_main .session .head h4 {
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.session_main .session > div.active h4,
.session_main .session > div:hover h4 {
  color: #6a5cff;
}

.session_main .session .head .delete_btn {
  font-size: 12px;
  font-weight: 600;
  color: #fff !important;
  transition: all 0.3s ease;
  padding: 4px 16px;
  border-radius: 4px;
  background: #999;
  margin-left: auto;
  cursor: pointer;
}
.session_main .session .head .delete_btn:hover {
  background: #888;
}

.session_main .session .desc_box {
  display: none;
  padding: 24px;
}

.session_main .session .desc_box.active {
  display: block;
}

.desc_box > div {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.desc_box > div:last-child {
  margin-bottom: 0;
}

.desc_box > div .desc {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.desc_box .desc.mb_40 {
  margin-bottom: 28px;
}
.desc_box .desc.mb_24 {
  margin-bottom: 20px;
}

.desc_box .desc.bb_1 {
  margin-bottom: 28px;
  padding-bottom: 28px;
  border-bottom: 1px solid #ddd;
}

.desc_box .desc .f_16 {
  font-size: 16px;
}

.desc_box > div .desc .title_box {
  display: flex;
  justify-content: space-between;
}

.desc_box > div .desc p {
  font-weight: 500;
  margin-right: 8px;
  font-size: 14px;
}

.desc_box > div .desc .label {
  padding: 4px 8px;
  border-radius: 4px;
  color: #9b8cff;
  background: #f3f1ff;
  margin-right: 4px;
  font-size: 12px;
}

.desc_box > div .desc .dot {
  display: flex;
  font-weight: 500;
  color: #ff9f43;
  line-height: 1.25;
  margin-bottom: auto;
}

.desc_box > div .desc .reset_btn {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s ease;
  padding: 4px 16px;
  border-radius: 4px;
  background: #9b8cff;
  margin-left: auto;
  cursor: pointer;
}

.desc_box > div.desc01 textarea {
  height: 200px;
}

.desc_box > div textarea {
  width: 100%;
  height: 80px;
}

.desc_box > div .input_box {
  margin-bottom: 20px;
}

.desc_box > div .input_box:last-child {
  margin-bottom: 0;
}

.desc_box > div input {
  width: 100%;
}

.desc_box .add_btn {
  background: #6a5cff;
  transition: all 0.3s ease;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.desc_box .add_btn:hover {
  background: #5a4ce6;
}
/**********************************************************************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
*******************************************RESPONSIVE******************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************/

@media screen and (max-width: 1600px) {
  .main_box .button_box {
    gap: 8px;
  }

  .main_box .main_content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .admin .left {
    width: 320px;
  }

  .admin .table ul li {
    padding: 0 16px;
    width: 100px;
  }

  .admin .table ul li:last-child {
    width: 160px;
  }

  .admin .admin_list .input_box select {
    width: 120px;
  }
}

@media screen and (max-width: 1400px) {
  .main_box .button_box > div {
    flex: 1;
  }

  .main_box .input_box {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .main_box .main_content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .left.active {
    width: 360px;
    padding: 32px 20px;
  }

  .left .top {
    margin-bottom: 28px;
  }

  .left .top span {
    flex-shrink: 0;
    font-size: 12px;
    padding: 4px 8px;
    letter-spacing: -0.02em;
  }

  .left .top h3 {
    font-size: 14px;
    letter-spacing: -0.02em;
  }

  .left .mission h3 {
    font-size: 16px;
  }

  .left .mission p {
    font-size: 14px;
  }

  .left .mission p br {
    display: none;
  }

  .eval h3 {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .enter .hint {
    align-items: flex-start;
  }

  .eval ul li span,
  .eval ul li p {
    letter-spacing: -0.02em;
  }

  .live h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .left.active .progress .bar_back {
    height: 8px;
  }

  .progress ul {
    gap: 12px;
  }

  .lecture_opened > div {
    width: calc(50% - 6px);
  }

  .lecture_opened > div:nth-child(3n) {
    width: 100%;
  }

  .lecture_button .submit_box li {
    font-size: 14px;
  }

  .main_toolbar .status > div {
    font-size: 12px;
    padding: 8px 12px;
  }

  .main_toolbar .ai_send p {
    display: none;
  }
  .main_toolbar .ai_send span {
    display: block;
  }

  .lecture_opened > div.work_matching > ul > li h4 {
    font-size: 14px;
  }

  .lecture_opened > div.work_matching > ul {
    flex-wrap: wrap;
  }

  .lecture_opened > div.work_matching > ul li {
    width: calc(50% - 6px);
    flex: auto;
  }
}

@media screen and (max-width: 810px) {
  .main_box .main_content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lecture_opened > div {
    width: 100%;
  }
}
